
body {
  background-color: #004f59;
}

.header-color {
  background-color: #e9f0ec;
}


.field:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #a2afa7;
}

.field:invalid, .field:invalid:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #FA8072;
}

.btn-primary {
  background-color: #5e7461 !important;
  border-color: #5e7461 !important;
}

.btn-primary:active {
  background-color: #4a604d !important;
  border-color: #4a604d !important;
}

.btn-primary:disabled {
  background-color: #5e7461;
  border-color: #5e7461;

}

/* hide number input controls */
.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-control[type="number"] {
  -moz-appearance: textfield; /* same as above but for Firefox */
}

.page-item .page-link {
  color: #6f7174;
}
.page-item.active .page-link {
  color: white;
  background-color: #5e7461;
  border-color: #5e7461;
}

/* avoid applying hover on touch devices that emulate it. Buttons tend to "stick" */
@media (hover: hover) {
  .btn-primary:hover {
    background-color: #4a604d !important;
    border-color: #4a604d !important;
  }
}