.App {
  text-align: center;
}

.App-logo {
  max-height: 40vmin;
  padding: 0 20vmin 0 20vmin;
  pointer-events: none;
}


.App-header {
  background-color: #004650;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.item-base {
  position: relative;
  z-index: 1;
}

.item-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 84%;
  z-index: 2;
  border: black;
}